<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suites">
    <test verbose="2" thread-count="4" name="D:/JavaProject/XYZ_Bank">
        <classes>
            <class name="xyzbanktest.VerifyAllActionsForAccountWhenLoginAsManagerTest"/>
            <class name="xyzbanktest.VerifyAllActionsForAccountWhenLoginAsCustomerTest"/>
        </classes>
    </test>
</suite>